<tr>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.zipcode %></td>
    <td><p><%= heading %></td>
    <td><%= timestamp %></td>
    <td><a class="btn btn-default" target="_blank" href ="<%= external_url %>">See Post</a></td>
</tr>
