= content_for :css_placeholder do
  = stylesheet_link_tag "manifests/home"
= content_for :js_placeholder do
  %script{:type => 'text/javascript', :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyA9zZ5mWAS3ZkfLL9_tpb_flDGwhEiNHNw&sensor=false"}
  :javascript
    var SEARCH_TERM = '#{@search_term}';
  = javascript_include_tag "manifests/home"

%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#{root_path}"}
        Freon Finder
        %span.result-count.text-info
          = @search_term.downcase == "r12" || @search_term.downcase == "r-12" ? "is pulling local data for #{@search_term}..." : "is searching craigslist for #{@search_term}..."

    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      %form.navbar-form.navbar-left{role: "search"}
        .form-group
          %input#searchTask.form-control{placeholder: "Refine headings...", type: "text"}/
          %select.form-control#filterByState
            %option Filter By State

      %ul.nav.navbar-nav
        %li
          %a.refresh-map{href: "#"}
            Refresh Map
            .glyphicon.glyphicon-refresh

        %li
          %a.toggle-map{href: "#"} Toggle Map

      %ul.nav.navbar-nav.navbar-right
        %li
          %a#csv{href: "#"}
            Export CSV from Table
            .glyphicon.glyphicon-cloud-download



.container
  .freon-finder
    .spinner
      .spinner-container.container1
        .circle1
        .circle2
        .circle3
        .circle4
      .spinner-container.container2
        .circle1
        .circle2
        .circle3
        .circle4
      .spinner-container.container3
        .circle1
        .circle2
        .circle3
        .circle4
