= content_for :css_placeholder do
  = stylesheet_link_tag "manifests/home"

.text-center
  .jumbotron
    %h1
      Welcome to FreonFinder
    %h2
      Enter your search term, filter results, export data.

  #headerwrap
    .container
      .row
        .col-lg-12
          %h1
            Search FreonFinder
            .glyphicon.glyphicon-search
          = form_tag(results_path, :method => "get", id: "search", :class => "form-inline") do
            .form-group
              = text_field_tag :search, params[:search], placeholder: "Freon.. R12.. Hot Dogs...", :class => "input-lg form-control"
              = submit_tag "Search", :name => nil, :class => "btn btn-warning btn-lg"
          %br
          %br
      .row
        .col-lg-12
          .panel.panel-primary
            .panel-heading
              How it works
            .panel-body
              %p Freon Finder allows you to search for anything listed on Craigslist via a 3rd Party API. Realtime results rely on Google's cached Craigslist results.
              %p.text-info Freon Finder itself caches a search for 'freon' every night. Searching 'freon' searches Freon Finder's own data store of results. Results older than two weeks are cleared.
  %footer
    %hr
    %p.small Freon Finder is not in any way affiliated with Craigslist
